
@{
    ViewBag.Title = "changePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<link rel="stylesheet" type="text/css" href="/Frontend/styles/contact_styles.css">
<link rel="stylesheet" type="text/css" href="/Frontend/styles/contact_responsive.css">



<div class="home">
    <!-- Image by https://unsplash.com/peecho -->
    <div class="home_background parallax-window" data-parallax="scroll" data-image-src="/Frontend/images/news.jpg" data-speed="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="home_content">
                    <div class="home_content_inner">
                        <div class="home_title">Change Password</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contact">
    <div class="container">
        <div class="row" style="text-align: center">
            <div class="col">
                <div class="contact_title">Change Password</div>
            </div>
        </div>
        <div class="row contact_content">
            <div class="col-lg-7" style="margin: auto;">
                @if (ViewBag.passwordChange != null)
                {
                    <div style="color: red; font-weight:bold; width:inherit; text-align: center">
                        @ViewBag.passwordChange
                    </div>
                }
                @if (ViewBag.passwordChangeSuccess != null)
                {
                    <div style="color: green; font-weight:bold; width:inherit; text-align: center">
                        @ViewBag.passwordChangeSuccess
                    </div>
                }
                <div class="contact_form_container">
                    <form action="/Accounts/changePassword" method="post" id="contact_form" class="clearfix" style="text-align:center">
                        <input id="contact_input_name" name="oldPassword" class="contact_input contact_input_name" type="password" placeholder="Old Password" required="required" autocomplete="off" data-error="Name is required.">
                        <input id="contact_input_email" onkeyup="checkPass(this.value)" name="newPassword" class="contact_input contact_input_email" type="password" placeholder="New Password" required="required" autocomplete="off" data-error="E-mail is required.">
                        <label id="lblError" style="display:none; color: red">Password should be alpha numeric</label>
                        <input id="contact_input_subject" name="confirmNewPassword" class="contact_input contact_input_subject" type="password" placeholder="Confirm New Password" required="required" autocomplete="off" data-error="CNIC is required">
                        <button id="contact_send_btn" type="submit" class="contact_send_btn trans_200" value="Change" style="float: none; visibility: hidden">Change</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="/Frontend/js/jquery-3.2.1.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCIwF204lFZg1y4kPSIhKaHEXMLYxxuMhA"></script>
<script src="/Frontend/js/contact_custom.js"></script>
<script src="/Frontend/plugins/greensock/TweenMax.min.js"></script>
<script src="/Frontend/plugins/greensock/TimelineMax.min.js"></script>
<script src="/Frontend/plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="/Frontend/plugins/greensock/animation.gsap.min.js"></script>
<script src="/Frontend/plugins/greensock/ScrollToPlugin.min.js"></script>


<script>

    function checkPass(s) {
        var contact_send_btn = document.getElementById('contact_send_btn');
        var lblError = document.getElementById('lblError');
        var rg1 = /\d/g;
        var rg2 = /[a-zA-Z]/g;
        var word = s.toString();
        if (rg1.test(word) && rg2.test(word)) {
            lblError.style.display = "none";
            contact_send_btn.style.visibility = "visible";
        }
        else {
            lblError.style.display = "block";
            contact_send_btn.style.visibility = "hidden";
        }
    }

</script>